h1 {
  color: darkorange;
}
p {
  font-family: "Times New Roman", Times, serif;
}
a {
  text-decoration: none;
  color: lightcoral;
}
span {
  color: blueviolet;
  font-weight: bold;
}
.background {
  background-color: aquamarine;
}
body {
  background-color: ivory;
}
